/* Carousel.css */

  .carousel-image {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
  }
  
  /* Optional: Hide the default carousel indicators (dots) if desired */
  .carousel-indicators {
    display: none;
  }
  @media (max-width: 767px) {
    .carousel-image {
     width: 100%;
    }
  }

  .card{
    
  }