/* Styles for .contact-container */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #735C46;
    height: auto;
    width: 100vw;
  }
  
  /* Styles for .map-container */
  .map-container {
    height: 28vw;
    width: 40vw;
    margin-left: 5vw;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Styles for .map */
  .map {
    height: 100%;
    width: 100%;
    align-self: center;
    border-radius: 2vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
  
  /* Styles for .title */
  .contact-container .title {
    font-size: 2.3vw;
    font-weight: 400;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
  }
  
  /* Styles for .text */
  .contact-container .text {
    font-size: 1.3vw;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    /* Text shadow with vendor prefixes */

  }
  
  /* Styles for .location */
  .location {
    width: 100%;
    height: 100%;
    align-self: center;
  }
  
  /* Media query for screens with a maximum width of 800px */
  @media (max-width: 800px) {
    .contact-container {
      /* Flexbox fallback for older browsers */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #735C46;
      height: 70vw;
      width: auto;
      margin-bottom: 0;
      /* Flex direction fallback */
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      align-items: center;
    }
  
    .date_de_contact {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      @media screen and (max-width: 801px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  
    .date_de_contact .title {
      font-size: 2.5vw;
      font-weight: 400;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: #fff;
      grid-column: 1/5;
    }
  
    .map-container {
      height: 35vw;
      width: 70%;
      border-radius: 10px;
      align-self: center;
      text-align: center;
      margin-left: 15%;
      margin-bottom: 0vw;
    }
  
    .date_de_contact .text {
      font-size: 2vw;
      font-weight: 300;
      text-align: center;
      margin-bottom: -0%;
      justify-content: center;
      align-self: center;
    }
  }
  