.contact-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #979797bb;
    height: 50vh;
    width: 100vw;
}

.address{

    height: 20%;
}

.map-container{
    height: 30vh;
    width: 40vw;
    margin-left: 5vw;
    border-radius: 10px;
}

.map{
    height: 100%;
    width: 100%;
    border: 0;
    align-self: center;
    border-radius: 2vh;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);

}