/* Reset the default positioning */
body, html {
  margin: 0;
  padding: 0;
}

/* Center the .links element both horizontally and vertically */
.links {
  position: absolute;
  top: 50%; /* Move the top edge of the element to the vertical center */
  left: 50%; /* Move the left edge of the element to the horizontal center */
  transform: translate(-50%, -50%); /* Center the element with respect to its own dimensions */
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.links li {
  margin-right: 20px;
}

.links a {
  position: relative;
  background-color: rgba(255, 2, 2, 0.362);
  color: white;
  padding: 10px;
  text-decoration: none;
}

/* Hover effect for the links */
.links a:hover {
  text-decoration: underline;
}

.links a span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.links img {
  max-width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
