
.contact {
    color: white;
    height: auto;
    display: flex;
    padding: auto;
    margin: 3rem;
    align-items: flex-start;
    justify-content: center;
  }

  .address,
  .phone,
  .email {
    margin:3rem;
  }
  a {
    padding: 10px; 
  }