.navbar {
    background-color: #f20f0f; 
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .burger {
    cursor: pointer;
    display: none;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 4rem;
      left: 0;
      background-color: #f08080;
      flex-direction: column;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .nav-links.open {
      transform: translateX(0);
    }
  
    .burger {
      display: block;
    }
  

    @media screen and (min-width: 769px) {
      .nav-links {
        position: static;
        flex-direction: row;
        transform: translateX(0);
        transition: none;
      }
  
      .burger {
        display: none;
      }
    }
  }
  