.gallery-container_reviews{
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.gallery-item_reviews {
    position: relative;
    /* Make the container position relative */
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.5s ease;
    border-radius: 10px;

}

.overlay_reviews {

    position: absolute;
    top: 88%;
    left: 0;
    background-color: rgb(252, 252, 252);
    color: #fdfafa;
    width: 100%;
    height: 12%;
    z-index: 999999;

}

.reviews_title{
    font-size: 2.7vw;
    font-weight: 400;
    text-align: center;
    color: #121212;
    margin-top: 5%;
}


@media (max-width: 800px) {
    .overlay_reviews {

        position: absolute;
        top: 90%;
        left: 0;
        background-color: rgb(252, 252, 252);
        /* You can adjust the color and opacity as needed */
        color: #fdfafa;
        /* Text color for the overlay */
        /*padding: 10px;
        /* Add padding or other styling for the content */
        width: 100%;
        height: 10%;
        z-index: 99999;
    
    }

    .reviews_title{
        font-size: 3.5vw;
        font-weight: 400;
        text-align: center;
        color: #121212;
        margin-top: 5%;
        @media (max-width: 500px){
            font-size: 5vw;
        }
    }
    
}
