
.room_details {
    width: 80%;
    height: 100%;
    justify-content: center;
    align-self: center;
    margin-left: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.room_facilities {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
}

.room_description {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.room_details .title {
    margin-top: 1.5vw;
    font-size: 1.75vw;
    font-weight: 400;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #363333;
}

/* Styles for .text */
.room_details .text {
    font-size: 1.25vw;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2%;    
    font-family: '';
    color: #0a0000;
}


.room_page_container {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 5vw;
  }


    @media (min-width: 500px) and (max-width: 800px) 
  {

    .room_details {
        width: 80%;
        height: 100%;
        justify-content: center;
        align-self: center;
        margin-left: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .room_page_container {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 0;
      }

      .room_details .title {
        margin-top: 1.5vw;
        font-size: 5vw;
        font-weight: 400;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: #363333;
    }
    
    /* Styles for .text */
    .room_details .text {
        font-size: 3.5vw;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2%;    
        font-family: '';
        color: #0a0000;
    }

    .room_facilities {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-self: center;
    }
    
    .room_description {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-self: center;
    }
    
  }

  @media (max-width: 500px){
.room_details {
    width: 80%;
    height: 100%;
    justify-content: center;
    align-self: center;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr;
}
    .room_page_container {
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 0;
      }


      .room_details .title {
        margin-top: 1.5vw;
        font-size: 6vw;
        font-weight: 400;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: #363333;
    }
    
    /* Styles for .text */
    .room_details .text {
        font-size: 4vw;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2%;    
        font-family: '';
        color: #0a0000;
    }

    .room_facilities {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-self: center;
    }
    
    .room_description {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-self: center;
    }

}

.button_rezerva{

    width:80%;
    height: 10%;
    justify-content: center;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #010101;
    border-color: #0a0000;
    font-size: 1.2vw;
}

@media (max-width: 800px) and (min-width: 500px) { 
    .button_rezerva{

        width:80%;
        height: 10%;
        justify-content: center;
        align-self: center;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #010101;
        border-color: #0a0000;
        font-size: 2vw;
    }
}

@media (max-width: 500px) { 
    .button_rezerva{

        width:70%;
        height: 12%;
        justify-content: center;
        align-self: center;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 15%;
        margin-right: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #010101;
        border-color: #0a0000;
        font-size: 3vw;
    }
}