.card-img-top  {
    width: '20px'; 
    height: '20px';
    align-self: 'center'; 
  }
  
  @media (max-width: 500px) {
    .card-img-top  {
        width: '20px';
        height: '20px';
        align-self: 'center';

    }
  }